<mat-dialog-content>
    <div style="text-align: center">
      <h2>Registro de Mensaje</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">

        <mat-form-field class="example-full-width" *ngIf="edicion" style="margin-right: 20px;">
          <mat-label>idMensaje</mat-label>
          <input matInput placeholder="Id" formControlName="idMensaje" readonly/>
        </mat-form-field>

        
        <mat-form-field class="example-full-width" style="margin-right: 20px;">
            <mat-label>Titulo</mat-label>
            <input matInput placeholder="Titulo" formControlName="titulo" />
            <mat-error
              *ngIf="obtenerControlCampo('titulo')?.errors?.['required']"
            >
              El nombre es obligatorio.
            </mat-error>
            <mat-error *ngIf="obtenerControlCampo('titulo')?.hasError('maxlength')">
              El nombre debe tener como maximo 25 caracteres.
            </mat-error>
            <mat-error *ngIf="obtenerControlCampo('titulo')?.hasError('minlength')">
              El nombre debe tener como minimo 4 caracteres.
            </mat-error>
          </mat-form-field>           

          <mat-form-field class="example-full-width">
            <mat-label>Usuario</mat-label>
            <mat-select formControlName="usuario">
              <mat-option *ngFor="let p of listarUsuarios1" [value]="p.idUsuario">
                {{p.nombreUsuario}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="obtenerControlCampo('usuario')?.errors?.['required']">
              El Usuario es obligatorio.
            </mat-error>
          </mat-form-field>         
          <br />  
          <br />  

          <mat-form-field class="example-full-width" style="margin-right: 20px;">
            <mat-label>Receptor</mat-label>
            <mat-select formControlName="receptor">
              <mat-option *ngFor="let p of listarUsuarios2" [value]="p.idUsuario">
                {{p.nombreUsuario}}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="obtenerControlCampo('receptor')?.errors?.['required']"
            >
              El nombre es obligatorio.
            </mat-error>
          </mat-form-field>

          
          <mat-form-field class="example-full-width">
            <mat-label>Descripcion</mat-label>
            <input matInput placeholder="Descripcion" formControlName="descripcion" />
            <mat-error
              *ngIf="obtenerControlCampo('descripcion')?.errors?.['required']"
            >
              El nombre es obligatorio.
            </mat-error>
            <mat-error *ngIf="obtenerControlCampo('descripcion')?.hasError('maxlength')">
              El nombre debe tener como maximo 250 caracteres.
            </mat-error>
            <mat-error *ngIf="obtenerControlCampo('descripcion')?.hasError('minlength')">
              El nombre debe tener como minimo 2 caracteres.
            </mat-error>
          </mat-form-field>
          <br /> 
          <br />

        <button mat-raised-button class="aceptarbtn">Aceptar</button>
        <br /> 
        <a mat-raised-text class="cancelarbtn" (click)="cancelar()">
          Cancelar
        </a>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </mat-dialog-content>

