body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .example-card {
    width: 45%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  mat-card-title,
  mat-card-subtitle {
    font-size: 1.2em;
    color: #333;
  }
  
  mat-card-content {
    padding: 15px;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  
  .btneditar{
    text-align: center;
    border-radius: 5px;
    padding-inline: 15% ;
    border: none;
    background: rgb(175, 217, 227);
    color: #0C262C;
  
  }
  .btneliminar{
    text-align: center;
    border-radius: 5px;
    padding-inline: 15% ;
    border: none;
    background: #0C262C;
    color: #ffffff;
  }
  
  .separator {
    width: 10px;
  }
  
  .mat-paginator {
    margin-top: 20px;
  }
  .nuevobtn{
    text-align: center;
    border-radius: 15px;
    border: none;
    background: rgb(45, 45, 56);
    color: #ffffff;
  }