<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tarjeta</title>
  </head>
  <body>
    <div class="container">
      <br />
      <h2 style="text-align: center">Lista de Tarjetas</h2>
      <div style="text-align: right">
        <button mat-raised-button class="nuevobtn" (click)="openDialog()">
          Agregar Tarjeta
        </button>
      </div>
      <br />

      <div class="card-container">
        <ng-container *ngFor="let element of tarjeta">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{ element.tipoTarjeta }}</mat-card-title>
              <mat-card-subtitle>Código: {{ element.idTarjeta }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Número de tarjeta: {{ element.numeroTarjeta }}</p>
              <p>Fecha de Vencimiento: {{ element.fechaVencimiento }}</p>
              <p>CVV: {{ element.codigoSeguridad }}</p>
              <p>Usuario: {{ element.usuario.nombreUsuario }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button class="accion01btn" (click)="editar(element.idTarjeta,true)">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <span class="separator"></span>
              <button class="accion02btn" (click)="eliminar(element.idTarjeta)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </body>
</html>
