body{
  background-color: rgb(230,243,246);
}
.mat-stepper-horizontal {
  margin-top: 8px;
}
.mat-mdc-form-field {
  margin-top: 16px;
}
.formgeneral {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8F8F8;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
}
.btn{
  background: black;
  -webkit-text-fill-color: #ffffff;
}