
.container {
    margin-left: 50px;
    margin-right: 50px;
}
.img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .menu2{
    border-color: black;
  }

  [data-content] {
    display: none;
  }
  
  .active [data-content] {
    display: block;
  }
  