<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mensaje</title>
  </head>
  <body>
    <div class="container">
      <h2 style="text-align: center">Lista de Mensajes</h2>
      <div style="text-align: right">
        <button mat-raised-button class="nuevobtn" (click)="openDialog()">
          Agregar Mensaje
        </button>
      </div>
      <br />

      <div class="card-container">
        <ng-container *ngFor="let element of mensajes">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{ element.titulo }}</mat-card-title>
              <mat-card-subtitle>Código: {{ element.idMensaje }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Descripción: {{ element.descripcion }}</p>
              <p>Usuario: {{ element.usuario.nombreUsuario }}</p>
              <p>Receptor: {{ element.receptor }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button class="accion01btn" [routerLink]="['edicion', element.idMensaje]">
                Actualizar
              </button>
              <span class="separator"></span>
              <button class="accion02btn" (click)="eliminar(element.idMensaje)">
                Eliminar
              </button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </body>
</html>
