<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mensaje</title>
  </head>
  <body>
    <div class="container">
      <h2 style="text-align: center">Mensajes enviados</h2>
      <div style="text-align: right">
        <button mat-raised-button class="nuevobtn" (click)="openDialog()">
          Agregar Mensaje
        </button>
      </div>
      <br />

      <div class="card-container">
        <ng-container *ngFor="let element of mensajes">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{ element.titulo }}</mat-card-title>
              <mat-card-subtitle>Código: {{ element.idMensaje }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Descripción: {{ element.descripcion }}</p>
              <p>Usuario: {{ element.usuario.nombreUsuario }}</p>
              <p>Receptor: {{ element.receptor.nombreUsuario }}</p>
            </mat-card-content>
            <mat-card-actions >
              <button class="btneditar" (click)="editar(element.idMensaje,true)"><i class="fa-solid fa-pen-to-square"></i></button>
              <span class="separator"></span>
              <button class="btneliminar" (click)="eliminar(element.idMensaje)"><i class="fa-solid fa-trash"></i></button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </div>

      
    </div>
  </body>
</html>
