<mat-dialog-content>
    <div style="text-align: center">
      <h2>Registro de Documentos de Pagos</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion" style="margin-right: 20px;">
          <mat-label>idDocumentoPago</mat-label>
          <input matInput placeholder="Id" formControlName="idDocumentoPago" readonly/>
        </mat-form-field>
        
        <mat-form-field class="example-full-width" style="margin-right: 20px;">
          <mat-label>Emisor</mat-label>
          <mat-select formControlName="usuario">
            <mat-option *ngFor="let p of listaUsuarios1" [value]="p.idUsuario">
              {{p.nombreUsuario}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="obtenerControlCampo('usuario')?.errors?.['required']">
            El emisor es obligatorio.
          </mat-error>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-label>Receptor</mat-label>
          <mat-select formControlName="idReceptor">
            <mat-option *ngFor="let p of listaUsuarios2" [value]="p.idUsuario">
              {{p.nombreUsuario}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="obtenerControlCampo('idReceptor')?.errors?.['required']"
          >
            El receptor es obligatorio.
          </mat-error>
        </mat-form-field>

        
        <br />
        <br />
        <mat-form-field appearance="fill" class="example-full-width1" style="margin-right: 20px;">
            <input
              matInput
              placeholder="Fecha de emisión"
              [matDatepicker]="pickerEmision"
              formControlName="fechaEmision"
              
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="pickerEmision"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerEmision></mat-datepicker>
            <mat-error
              *ngIf="obtenerControlCampo('fechaEmision')?.errors?.['required']"
            >
             La fecha de emisión es obligatoria.
            </mat-error>
          </mat-form-field>

          
          <mat-form-field appearance="fill" class="example-full-width1">
              <input
                matInput
                placeholder="Fecha de vencimiento"
                [matDatepicker]="pickerVencimiento"
                formControlName="fechaVencimiento"


              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="pickerVencimiento"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerVencimiento></mat-datepicker>
              <mat-error
                *ngIf="obtenerControlCampo('fechaVencimiento')?.errors?.['required']"
              >
               La fecha de vencimiento es obligatoria.
              </mat-error>
              <mat-error *ngIf="obtenerControlCampo('fechaVencimiento')?.errors?.['fechaInvalida']">
                Seleccione una fecha de vencimiento válida.
              </mat-error>
            </mat-form-field>
            <br />
            <br />
        <mat-form-field class="example-full-width" style="margin-right: 20px;">
            <mat-label>Moneda</mat-label>
            <mat-select formControlName="moneda">
              <mat-option *ngFor="let p of tipos" [value]="p.value">
                {{p.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="obtenerControlCampo('moneda')?.errors?.['required']">
              La moneda es obligatorio.
            </mat-error>
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
            <mat-label>Total</mat-label>
            <input matInput placeholder="0.00" formControlName="total" readonly/>
            
          </mat-form-field>
          <br />
          <br />
          <mat-form-field class="example-full-width" style="margin-right: 20px;">
              <mat-label>Estado</mat-label>
              <mat-select formControlName="estado">
                <mat-option *ngFor="let p of tipos1" [value]="p.value">
                  {{p.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="obtenerControlCampo('estado')?.errors?.['required']">
                El estado es obligatorio.
              </mat-error>
            </mat-form-field>

       
            <mat-form-field class="example-full-width">
                <mat-label>Tipo de Documento</mat-label>
                <mat-select formControlName="tipoDocPago">
                  <mat-option *ngFor="let p of listaTipoDocumentoPagos" [value]="p.idTipoDocPago">
                    {{p.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="obtenerControlCampo('tipoDocPago')?.errors?.['required']">
                  El tipo de documento es obligatorio.
                </mat-error>
              </mat-form-field>

        <br />
        <br />
        <button mat-raised-button class="aceptarbtn" >Aceptar</button>
        <br>
        
        <a mat-raised-text class="cancelarbtn" routerLink="/Usuario">
          Cancelar
        </a>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </mat-dialog-content>
