<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div [formGroup]="fechaForm" class="container">
            <mat-form-field>
                <input
                matInput
                placeholder="Ingrese un año"
                formControlName="anio"
              />
            </mat-form-field>
            <button (click)="buscar()" mat-raised-button color="primary">Buscar</button>
          </div>

        <div>
            <h1>Cantidad de avisos por mes</h1>
        </div>
        <div>
            <canvas
            baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [type]="barChartType"
            >

            </canvas>
        </div>
    </div>
</body>
</html>