
.container {
  background-color: #f4f4f4;

    margin: 0 auto; 
    padding: 0 15px; 
  }
  .button-container {
    text-align: right;
    margin-bottom: 15px; 
  }
  
  /* Estilos para el contenedor de tarjetas */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Estilos para cada tarjeta */
  .example-card {
    width: 48%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0C262C(144, 28, 28, 0.1);
  }
  
  /* Estilos para los títulos y subtítulos de las tarjetas */
  mat-card-title,
  mat-card-subtitle {
    font-size: 1.2em;
    color: #000000;
  }
  
  /* Estilos para el contenido de las tarjetas */
  mat-card-content {
    padding: 15px;
  }
  
  /* Estilos para las acciones en las tarjetas */
  mat-card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  
  
  .btneditar{
    text-align: center;
    border-radius: 5px;
    padding-inline: 20% ;
    border: none;
    background: rgb(175, 217, 227);
    color: #0C262C;
  
  }
  .btneliminar{
    text-align: center;
    border-radius: 5px;
    padding-inline: 8% ;
    border: none;
    background: #0C262C;
    color: #ffffff;
  }
  
  .separator {
    margin-left: 15%; 
  }
  