<mat-dialog-content>
  <div style="text-align: center">
    <h2>Registro de Usuarios</h2>
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">
      <mat-form-field class="example-full-width" *ngIf="edicion" style="margin-right: 20px;">
        <mat-label>idUsuario</mat-label>
        <input matInput placeholder="Id" formControlName="idUsuario" readonly/>
      </mat-form-field>
      
      <mat-form-field class="example-full-width" style="margin-right: 20px;">
        <mat-label>nombreUsuario</mat-label>
        <input  matInput placeholder="nombreUsuario" formControlName="nombreUsuario" />
        <mat-error
          *ngIf="obtenerControlCampo('nombreUsuario')?.errors?.['required']"
        >
          El nombre de usuario es obligatorio.
        </mat-error>
        <mat-error *ngIf="obtenerControlCampo('nombreUsuario')?.hasError('minlength')">
          El nombre de usuario debe tener al menos 5 caracteres.
        </mat-error>
        <mat-error *ngIf="obtenerControlCampo('nombreUsuario')?.hasError('maxlength')">
          El nombre de usuario no puede tener más de 30 caracteres.
        </mat-error>
      </mat-form-field>
      
      <mat-form-field class="example-full-width">
        <mat-label>Clave</mat-label>
        <input matInput placeholder="clave" formControlName="clave" />
        <mat-error
          *ngIf="obtenerControlCampo('clave')?.errors?.['required']"
        >
          La clave es obligatoria.
        </mat-error>
        <mat-error *ngIf="obtenerControlCampo('clave')?.hasError('minlength')">
          La clave debe tener al menos 5 caracteres.
        </mat-error>
        <mat-error *ngIf="obtenerControlCampo('clave')?.hasError('maxlength')">
          La clave no puede tener más de 200 caracteres.
        </mat-error>
      </mat-form-field>
      <br />
      <br />
      <mat-form-field class="example-full-width" style="margin-right: 20px;">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="rol">
          <mat-option [disabled]="true" *ngFor="let p of listaRolUsuarios" [value]="p.idRolUsuario">
            {{ p.rol }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="obtenerControlCampo('rol')?.errors?.['required']"
        >
          El rol es obligatorio.
        </mat-error>

      </mat-form-field>
      
      <mat-form-field class="example-full-width" style="margin-right: 20px;">
        <mat-label>Nombres</mat-label>
        <input matInput placeholder="nombres" formControlName="nombres" />
        <mat-error
          *ngIf="obtenerControlCampo('nombres')?.errors?.['required']"
        >
          El nombre es obligatorio.
        </mat-error>
        <mat-error *ngIf="obtenerControlCampo('nombres')?.hasError('minlength')">
          El nombre debe tener al menos 4 caracteres.
        </mat-error>
        <mat-error *ngIf="obtenerControlCampo('nombres')?.hasError('maxlength')">
          El nombre no puede tener más de 100 caracteres.
        </mat-error>
        <mat-error *ngIf="obtenerControlCampo('nombres')?.hasError('pattern')">
          Solo se permiten letras en los nombres.
        </mat-error>
      </mat-form-field>
      
      <mat-form-field class="example-full-width">
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="apellidos" formControlName="apellidos" />
        <mat-error
          *ngIf="obtenerControlCampo('apellidos')?.errors?.['required']"
        >
          El apellido es obligatorio.
        </mat-error>
        <mat-error *ngIf="obtenerControlCampo('apellidos')?.hasError('minlength')">
          Los apellidos debe tener al menos 4 caracteres.
        </mat-error>
        <mat-error *ngIf="obtenerControlCampo('apellidos')?.hasError('maxlength')">
          Los apellidos no puede tener más de 100 caracteres.
        </mat-error>
        <mat-error *ngIf="obtenerControlCampo('apellidos')?.hasError('pattern')">
          Solo se permiten letras en los apellidos.
        </mat-error>
      </mat-form-field>
      <br />
      <br />
      <mat-form-field class="example-full-width" style="margin-right: 20px;">
        <mat-label>Correo</mat-label>
        <input matInput placeholder="correo" formControlName="correo" />
        <mat-error
          *ngIf="obtenerControlCampo('correo')?.errors?.['required']"
        >
          El correo es obligatorio.
        </mat-error>
        <mat-error *ngIf="obtenerControlCampo('correo')?.hasError('minlength')">
          El correo debe tener al menos 4 caracteres.
        </mat-error>
        <mat-error *ngIf="obtenerControlCampo('correo')?.hasError('maxlength')">
          El correo no puede tener más de 100 caracteres.
        </mat-error>
      </mat-form-field>
      

      <mat-form-field class="example-full-width" style="margin-right: 20px;">
        <mat-label>Edad</mat-label>
        <input matInput placeholder="edad" formControlName="edad" />
        <mat-error
          *ngIf="obtenerControlCampo('edad')?.errors?.['required']"
        >
          La edad es obligatoria.
        </mat-error>
        <mat-error *ngIf="obtenerControlCampo('edad')?.hasError('pattern')">
          Solo se permiten números enteros.
        </mat-error>
        <mat-error *ngIf="obtenerControlCampo('edad')?.hasError('min')">
          La edad mínima es de 18 años.
        </mat-error>
        <mat-error *ngIf="obtenerControlCampo('edad')?.hasError('max')">
          La edad máxima es de 100 años.
        </mat-error>
      </mat-form-field>
      
      <mat-form-field class="example-full-width">
        <mat-label>Teléfono</mat-label>
        <input matInput placeholder="telefono" formControlName="telefono" />
        <mat-error
          *ngIf="obtenerControlCampo('telefono')?.errors?.['required']"
        >
          El telefono es obligatorio.
        </mat-error>
        <mat-error *ngIf="obtenerControlCampo('telefono')?.hasError('pattern')">
          Solo se permiten números.
        </mat-error>
        <mat-error *ngIf="obtenerControlCampo('telefono')?.hasError('minlength')">
          El número debe tener 9 dígitos
        </mat-error>
        <mat-error *ngIf="obtenerControlCampo('telefono')?.hasError('maxlength')">
          El número debe tener 9 dígitos
        </mat-error>
      </mat-form-field>

      <br />
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Género</mat-label>
        <mat-select formControlName="genero">
          <mat-option *ngFor="let p of tipos" [value]="p.value">
            {{ p.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="obtenerControlCampo('genero')?.errors?.['required']"
        >
          El género es obligatorio.
        </mat-error>
      </mat-form-field>

      

      <br />
      <button mat-raised-button class="aceptarbtn" >Aceptar</button>
      <br>
      
      <a mat-raised-text class="cancelarbtn" (click)="cancelar()">
        Cancelar
      </a>
      <p>{{ mensaje }}</p>
    </form>
  </div>
  <mat-dialog-content>