<mat-dialog-content>
    <div style="text-align: center">
      <h2>Registro de Aviso</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion" style="margin-right: 20px;">
          <mat-label>idAviso</mat-label>
          <input matInput placeholder="Id" formControlName="idAviso" readonly/>
        </mat-form-field>

        <mat-form-field class="example-full-width" style="margin-right: 20px;">
          <mat-label>Titulo</mat-label>
          <input matInput placeholder="Titulo" formControlName="titulo" />
          <mat-error
            *ngIf="obtenerControlCampo('titulo')?.errors?.['required']"
          >
            El nombre es obligatorio.
          </mat-error>
          <mat-error *ngIf="obtenerControlCampo('titulo')?.hasError('maxlength')">
            El nombre debe tener como máximo 25 caracteres.
          </mat-error>
          <mat-error *ngIf="obtenerControlCampo('titulo')?.hasError('minlength')">
            El nombre debe tener como mínimo 4 caracteres.
          </mat-error>
        </mat-form-field>        

        <mat-form-field class="example-full-width">
          <mat-label>usuario</mat-label>
          <mat-select formControlName="usuario">
            <mat-option *ngFor="let p of listarUsuarios" [value]="p.idUsuario">
              {{ p.nombreUsuario }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="obtenerControlCampo('usuario')?.errors?.['required']"
          >
            El Usuario es obligatorio.
          </mat-error>
        </mat-form-field>
        
        <br />
        <br />


        <mat-form-field appearance="fill" class="example-full-width" style="margin-right: 20px;">
          <input
            matInput
            placeholder="Ingrese fecha de Publlicacón"
            [matDatepicker]="pickerEmision"
            formControlName="fechaPublicacion"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerEmision"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerEmision></mat-datepicker>
          <mat-error
            *ngIf="obtenerControlCampo('fechaPublicacion')?.errors?.['required']"
          >
            La fecha de emisión es obligatoria.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>condominio</mat-label>
          <mat-select formControlName="condominio">
            <mat-option
              *ngFor="let p of listarcondominios"
              [value]="p.idCondominio"
            >
              {{ p.nombre }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="obtenerControlCampo('condominio')?.errors?.['required']"
          >
            El condominio es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />

        <mat-form-field class="descripcion">
          <mat-label>descripcion</mat-label>
         
          <textarea 
          matInput placeholder="Descripcion"
          formControlName="descripcion"          
          ></textarea>

          <mat-error
            *ngIf="obtenerControlCampo('descripcion')?.errors?.['required']"
          >
            El nombre es obligatorio.
          </mat-error>
          <mat-error *ngIf="obtenerControlCampo('descripcion')?.hasError('maxlength')">
            El nombre debe tener como maximo 250 caracteres.
          </mat-error>
          <mat-error *ngIf="obtenerControlCampo('descripcion')?.hasError('minlength')">
            El nombre debe tener como minimo 10 caracteres.
          </mat-error>
        </mat-form-field>
        <br />

        <button mat-raised-button class="aceptarbtn">Aceptar</button>
        <br/>
        <a mat-raised-text class="cancelarbtn" (click)="cancelar()">
          Cancelar
        </a>
        <p>{{ mensaje }}</p>
      </form>
    </div>
    <mat-dialog-content>