<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<mat-toolbar *ngIf="verificar()">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Happy Community</h1>
    <div class="center-content">
      <button mat-button class="btn1" [matMenuTriggerFor]="menuSalir">
        <i class="fa-solid fa-user"></i> {{username}}
        <mat-menu #menuSalir="matMenu">
          <button mat-menu-item routerLink="components/Usuario">
            Ver perfil
          </button>
          <button mat-menu-item >Rol:
            <span>{{role}}</span>
            
          </button>
          <button
            mat-menu-item
            routerLink="/login"
            (click)="cerrar()"
            (click)="sidenav.close()"
          >
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesión</span>
           
            
          </button>

          <!-- Agrega más elementos de menú si es necesario -->
        </mat-menu>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav opened="false" mode="side">
    <mat-nav-list class="navcolor" *ngIf="verificar()">
      <div class="colormenu">
        <a
          mat-list-item
          [matMenuTriggerFor]="menuCondomino"
          style="color: aliceblue"
          ><i class="fa-solid fa-house"></i> Condominios</a
        >
        <a mat-list-item [matMenuTriggerFor]="menuPago"
          ><i class="fa-solid fa-piggy-bank"></i> Pagos</a
        >
        <a mat-list-item [matMenuTriggerFor]="menuServicio"
          ><i class="fa-solid fa-clipboard"></i> Servicios</a
        >
        <a mat-list-item routerLink="components/mensajes"
          ><i class="fa-solid fa-comments"></i> Mensajes</a
        >
        <a mat-list-item routerLink="components/tarjeta"
          ><i class="fa-solid fa-credit-card"></i> Tarjetas</a
        >
        <a mat-list-item [matMenuTriggerFor]="menuReportes"
          ><i class="fa-solid fa-chart-column"></i> Reportes</a
        >
      </div>
      <mat-menu #menuCondomino="matMenu">
        <button mat-menu-item routerLink="components/solicitudacceso">
          Solicitud de Acceso
        </button>
        <button mat-menu-item routerLink="components/condominios">
          Lista de condominios
        </button>
        <button mat-menu-item routerLink="components/planconvivencia">
          Plan de Convivencia
        </button>
        <button mat-menu-item routerLink="components/aviso">Aviso</button>
        <!-- Agrega más elementos de menú si es necesario -->
      </mat-menu>
      <mat-menu #menuPago="matMenu">
        <button mat-menu-item routerLink="components/TipoDocPago" >
          Tipo de Documento
        </button>
        <button mat-menu-item routerLink="components/DocumentoPago">
          Documento de Pago
        </button>
        <button mat-menu-item routerLink="components/Detalle">Detalle</button>
        <!-- Agrega más elementos de menú si es necesario -->
      </mat-menu>
      <mat-menu #menuServicio="matMenu">
        <button mat-menu-item routerLink="components/TipoServicio">
          Tipo de Servicio
        </button>
        <button mat-menu-item routerLink="components/Servicio">
          Lista servicios
        </button>
        <!-- Agrega más elementos de menú si es necesario -->
      </mat-menu>
      <mat-menu #menuReportes="matMenu">
        <button mat-menu-item routerLink="components/Reportes1">
          Reporte 1
        </button>
        <button mat-menu-item routerLink="components/Reportes/reporte2">
          Reporte 2
        </button>
        <button mat-menu-item routerLink="components/Reportes/mayordeudames">
          mes con mayor deuda del año
        </button>
        <button mat-menu-item routerLink="components/Reportes/Reportes4">
          Reporte 4
        </button>
        <button mat-menu-item routerLink="components/Reportes5">
          Reporte 5
        </button>
        <!-- Agrega más elementos de menú si es necesario -->
      </mat-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 92vh">
      <router-outlet> </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
