.mat-toolbar{
    background-color: rgb(6, 45, 46);
    color: white;
}
.mat-toolbar button{
  color: white;
}

.animated-menu {
  height: 100vh;
  width: 15%;
    transition: transform 0.3s ease-in-out; /* Define la transición */
    transform: translateX(-100%); /* Inicialmente oculto */
  }
  
  .hide-menu {
    transform: translateX(-100%);
    pointer-events: none;
  }
  .center-content {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%; /* O ajusta el ancho según tus necesidades */
  }

.btn1 {
    height: 64px;
    width: 10%;
    font-size: 18px;
}
.coloritem{
  color: white;
}
.fa-solid{
  font-size: 25px;
}

mat-sidenav{
  background: rgb(6, 45, 46);
  width: 13%;
}


.colormenu {
  --mdc-list-list-item-label-text-color: white;
}

