
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="app.component.css" />

</head>
<body>
  
<mat-toolbar >

  <mat-icon >menu</mat-icon>
  <button mat-button routerLink="/">Happy Community</button>  
  <button mat-button [matMenuTriggerFor]="menuCondomino">Condominio</button>
  <button mat-button [matMenuTriggerFor]="menuTipoDocPago">Tipo Doc Pago</button>
  <button mat-button [matMenuTriggerFor]="menuTipoServicio">Tipo Servicio</button>
  <button mat-button [matMenuTriggerFor]="menuRolUsuario">Rol Usuario</button>
  <button mat-button [matMenuTriggerFor]="menuUsuario">Usuario</button>
  <button mat-button [matMenuTriggerFor]="menuDocumentoPago">Documento Pago</button>
  <button mat-button [matMenuTriggerFor]="menuPlanConvivencia">Plan Convivencia</button>
  <button mat-button [matMenuTriggerFor]="menuSolicitudacceso">Solicitud Acceso</button>

  

</mat-toolbar>

<mat-menu #menuCondomino="matMenu">
  <button mat-menu-item routerLink="/condominios/nuevo">Registrar</button>
  <button mat-menu-item routerLink="/condominios">Listar</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>
<mat-menu #menuTipoDocPago="matMenu">
  <button mat-menu-item routerLink="/TipoDocPago/nuevo">Registrar</button>
  <button mat-menu-item routerLink="/TipoDocPago">Listarr</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>
<mat-menu #menuTipoServicio="matMenu">
  <button mat-menu-item routerLink="/TipoServicio/nuevo">Registrar</button>
  <button mat-menu-item routerLink="/TipoServicio">Listar</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>
<mat-menu #menuRolUsuario="matMenu">
  <button mat-menu-item routerLink="/RolUsuario/nuevo">Registrar</button>
  <button mat-menu-item routerLink="/RolUsuario">Listar</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>
<mat-menu #menuUsuario="matMenu">
  <button mat-menu-item routerLink="/Usuario/nuevo">Registrar</button>
  <button mat-menu-item routerLink="/Usuario">Listar</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>
<mat-menu #menuDocumentoPago="matMenu">
  <button mat-menu-item routerLink="/DocumentoPago/nuevo">Registrar</button>
  <button mat-menu-item routerLink="/DocumentoPago">Listar</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>
<mat-menu #menuPlanConvivencia="matMenu">
  <button mat-menu-item routerLink="/planconvivencia/nuevo">Registrar</button>
  <button mat-menu-item routerLink="/planconvivencia">Listar</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>
<mat-menu #menuSolicitudacceso="matMenu">
  <button mat-menu-item routerLink="/solicitudacceso/nuevo">Registrar</button>
  <button mat-menu-item routerLink="/solicitudacceso">Listar</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>
<router-outlet></router-outlet>
  
</body>

</html>
