<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <br />
      <h2 style="text-align: center">Lista de Solicitudes de Acceso</h2>
      <div style="text-align: right">
        <button   *ngIf="vecino()" mat-raised-button class="nuevobtn" (click)="openDialog()">Nuevo
        </button>
      </div>

      <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
The actual rendered columns are set as a property on the row definition" --
>
    < !-- Position Column -->
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef>Código</th>
          <td mat-cell *matCellDef="let element">{{ element.idSolicitudAcceso }}</td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>estado</th>
          <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef>Usuario</th>
            <td mat-cell *matCellDef="let element">{{ element.usuario.nombreUsuario }}</td>
          </ng-container>

          <!-- Name Column -->
        <ng-container matColumnDef="condominio">
            <th mat-header-cell *matHeaderCellDef>Condominio</th>
            <td mat-cell *matCellDef="let element">{{ element.condominio.nombre }}</td>
          </ng-container>

        <!-- Weight Column -->

        <ng-container matColumnDef="accion01" >
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-raised-button
              class="accion01btn"
              (click)="editar(element.idSolicitudAcceso,true)"
            >
            <i class="fa-solid fa-pen-to-square"></i>
            </button>
          </td></ng-container
        >

        <ng-container matColumnDef="accion02" >
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button
            *ngIf="vecino()"
              mat-raised-button
              class="accion02btn"
              (click)="eliminar(element.idSolicitudAcceso)"
            >
            <i class="fa-solid fa-trash"></i>
            </button>
          </td></ng-container
        >
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
      [pageSizeOptions]="[5, 10, 25]"
      showFirstLastButtons
    ></mat-paginator>

    </div>



</body>
</html>
