
.example-full-width{
    width: 100%;
}

.nuevobtn{
  width: 100%;
  text-align: center;
  border-radius: 15px;
  border: none;
  background: rgb(45, 45, 56);
  color: #ffffff;
}
.small {
  text-align: center;
}

.img-fluid{
  height: 100%;
}