<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="title"><h1>Mes con mayor deuda del año actual</h1></div>
      <div style="padding-left: 5%;"> <h2>Seleccione el Condominio:</h2>
        <div >
        <mat-form-field  [formGroup]="formm"   class="example-full-width">
      
          <mat-label>condominio</mat-label>
          <mat-select formControlName="condominio" (selectionChange)="mostrar()">
            <mat-option  *ngFor="let p of listacondominios" [value]="p.idCondominio">
              {{p.nombre}} 
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      </div>
    

      <div class="grafico">
        <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [type]="barChartType"
         >

        </canvas>
      </div>
    </div>
  </body>
</html>
