<mat-dialog-content>
    <div style="text-align: center">
      <h2>Registro de Tipo Documento de Pago</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>idTipoDocPago</mat-label>
          <input matInput placeholder="Id" formControlName="idTipoDocPago" readonly/>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>nombre</mat-label>
          <input matInput placeholder="nombre" formControlName="nombre" />
          <mat-error
            *ngIf="obtenerControlCampo('nombre')?.errors?.['required']"
          >
            El nombre es obligatorio.
          </mat-error>
          <mat-error *ngIf="obtenerControlCampo('nombre')?.hasError('minlength')">
            El nombre debe tener al menos 5 caracteres.
          </mat-error>
          <mat-error *ngIf="obtenerControlCampo('nombre')?.hasError('maxlength')">
            El nombre no debe tener más 100 caracteres.
          </mat-error>
          <mat-error *ngIf="obtenerControlCampo('nombre')?.hasError('pattern')">
            Solo se permiten letras.
          </mat-error>
        </mat-form-field>
        
        <br />
        <br />
        <button mat-raised-button class="aceptarbtn" >Aceptar</button>
        <br>
        
        <a mat-raised-text class="cancelarbtn" routerLink="/TipoDocPago">
          Cancelar
        </a>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </mat-dialog-content>