<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="registro-container" style="text-align: center">
      <h2>Registro de Tipo Documento de Pago</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>idTipoDocPago</mat-label>
          <input matInput placeholder="Id" formControlName="idTipoDocPago" />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>nombre</mat-label>
          <input matInput placeholder="nombre" formControlName="nombre" />
          <mat-error
            *ngIf="obtenerControlCampo('nombre')?.errors?.['required']"
          >
            El nombre es obligatorio.
          </mat-error>
        </mat-form-field>
        
        <br />
        <button mat-raised-button class="aceptarbtn" >Aceptar</button>
        <br>
        
        <a mat-raised-text class="cancelarbtn" routerLink="/TipoDocPago">
          Cancelar
        </a>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
