body {
    margin: 0;
    padding: 0;
    background: linear-gradient(100deg, #bbb6b6, #ffffff);
  }
  
  .registro-container {
      position: absolute;
      top: 50%;
      left: 50%;
    
     transform: translate(-50%, -40%);
      width: 500px;
      background: white;
      border-radius: 20px;
      padding-bottom: 5%;
      padding-top: 2%;
      padding-block-end: 2%;
  }
  
  
  
  .registro-container button {
    margin: 5%;
    text-align: center;
  }
  
  .cancelarbtn {
    cursor: pointer;
      text-align: center;
      color: rgb(255, 3, 3);
      text-decoration: none; 
  }
  
  .aceptarbtn {
    text-align: center;
    border-radius: 25px;
    border: none;
    background: rgb(45, 45, 56);
    -webkit-text-fill-color: #ffffff;
  }
  .example-full-width{
    border-radius: 15px;
  }
  
  
 