.title {
  display: grid;
  place-items: center;
  font-style: oblique;
}
.grafico{

width: 40%;
padding-left: 30%;
}


.button{
  text-align: right;
  margin-right: 5%; 
}
.nuevobtn{
  text-align: center;
  border-radius: 15px;
  border: none;
  background: rgb(45, 45, 56);
  color: #ffffff;
}