<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      
      <div class="title"><h1>Deuda de cada mes del año actual</h1></div>
      <div class="button">
        <button mat-raised-button (click)="exportToExcel()"><i class="fa-solid fa-file-csv"></i> Exportar</button>
    </div>
      <div class="grafico" style="display: center;">
        <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [type]="barChartType"
         >

        </canvas>
      </div>
    </div>
  </body>
</html>
