  <mat-dialog-content>
    <div class="container">
        
            <div style="text-align: center">
              <h2>Registro de Plan de Convivencia</h2>
              <form [formGroup]="form" (submit)="aceptar()" class="example-form">
                <mat-form-field class="example-full-width" *ngIf="edicion">
                  <mat-label>idPlanConvivencia</mat-label>
                  <input matInput placeholder="Id" formControlName="idPlanConvivencia" readonly/>
                </mat-form-field>
                <br />
                <mat-form-field class="example-full-width">
                    <mat-label>condominio</mat-label>
                    <mat-select formControlName="condominio">
                      <mat-option *ngFor="let p of listarcondominios" [value]="p.idCondominio">
                        {{p.nombre}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="obtenerControlCampo('condominio')?.errors?.['required']">
                      El condominio es obligatorio.
                    </mat-error>
                  </mat-form-field>
                  <br>
                <mat-form-field class="example-full-width">
                  <mat-label>titulo</mat-label>
                  <input matInput placeholder="titulo" formControlName="titulo" />
                  <mat-error
                    *ngIf="obtenerControlCampo('titulo')?.errors?.['required']"
                  >
                    El titulo es obligatorio.
                  </mat-error>
                  <mat-error *ngIf="obtenerControlCampo('titulo')?.hasError('maxlength')">
                    El titulo debe tener como maximo 20 caracteres.
                  </mat-error>
                  <mat-error *ngIf="obtenerControlCampo('titulo')?.hasError('minlength')">
                    El titulo debe tener como minimo 4 caracteres.
                  </mat-error>
                </mat-form-field>
                <br>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>descripcion</mat-label>
                    <textarea class="txt" matInput placeholder="descripcion" formControlName="descripcion" style="width: 300px;" rows="5"></textarea>
                    <mat-error
                      *ngIf="obtenerControlCampo('descripcion')?.errors?.['required']"
                    >
                      La descripción es obligatoria.
                    </mat-error>
                    <mat-error *ngIf="obtenerControlCampo('descripcion')?.hasError('maxlength')">
                      El descripción debe tener como maximo 20 caracteres.
                    </mat-error>
                    <mat-error *ngIf="obtenerControlCampo('descripcion')?.hasError('minlength')">
                      El descripción debe tener como minimo 10 caracteres.
                    </mat-error>
                  </mat-form-field>
        
                <br />
        
        
                <button mat-raised-button class="aceptarbtn" >Aceptar</button>
                <br>
                <a mat-raised-text class="cancelarbtn"  (click)="cancelar()">
                    Cancelar
                  </a>
                
                <p>{{ mensaje }}</p>
              </form>
              
            </div>
    </div>
  </mat-dialog-content>
