<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h2 style="text-align: center">Condominios</h2>
      <div style="text-align: right">
        <button mat-raised-button class="nuevobtn" (click)="openDialog()">Nuevo
        </button>   
      </div>
      <br>  

    <div class="card-container"  >

    <ng-container *ngFor="let condominio of condominios"  >
      <mat-card class="example-card" >
        
        <mat-card-header [routerLink]="['detalles', condominio.idCondominio]">
          <mat-card-title>{{ condominio.nombre }}</mat-card-title>
          <mat-card-subtitle>{{ condominio.idCondominio }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="condomino">
        <mat-card-content>
          <p>{{ condominio.departamento }}</p>
          <p>{{ condominio.distrito }}</p>
          <p>{{ condominio.administrador }}</p>
        </mat-card-content>

        <mat-card-actions >
          <button class="btneditar" (click)="editar(condominio.idCondominio,true)"><i class="fa-solid fa-pen-to-square"></i></button>
          <span class="separator"></span>
          <button class="btneliminar" (click)="eliminar(condominio.idCondominio)"><i class="fa-solid fa-trash"></i></button>
        </mat-card-actions>

      </mat-card>
    </ng-container>
  </div>

    
  </div>
    
    




  </body>
</html>
