<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Tarjeta</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de Tarjeta</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>idTarjeta</mat-label>
          <input matInput placeholder="Id" formControlName="idTarjeta" />
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <mat-label>Tipo de Tarjeta</mat-label>
          <mat-select formControlName="tipoTarjeta">
            <mat-option *ngFor="let p of tipos" [value]="p.value">
              {{ p.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="obtenerControlCampo('tipoTarjeta')?.errors?.['required']"
          >
            El tipo de tarjeta es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <mat-label>numeroTarjeta</mat-label>
          <input
            matInput
            placeholder="xxxx xxxx xxxx xxxx"
            formControlName="numeroTarjeta"
          />
          <mat-error
            *ngIf="obtenerControlCampo('numeroTarjeta')?.errors?.['required']"
          >
            El tipo es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />

        <mat-form-field appearance="fill" class="example-full-width">
            <input
              matInput
              placeholder="Fecha de Vencimiento"
              [matDatepicker]="picker"
              formControlName="fechaVencimiento"
            />
            <mat-hint>MM/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error
              *ngIf="obtenerControlCampo('fechaVencimiento')?.errors?.['required']"
            >
              La fecha de creación es obligatoria.
            </mat-error>
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <mat-label>Código CVV</mat-label>
            <input
              matInput
              placeholder="XXX"
              formControlName="codigoSeguridad"
            />
            <mat-error
              *ngIf="obtenerControlCampo('codigoSeguridad')?.errors?.['required']"
            >
              El tipo es obligatorio.
            </mat-error>
          </mat-form-field>
          <br /> 

          <mat-form-field class="example-full-width">
            <mat-label>Usuario</mat-label>
            <mat-select formControlName="usuario">
              <mat-option *ngFor="let p of listarUsuarios" [value]="p.idUsuario">
                {{p.nombreUsuario}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="obtenerControlCampo('usuario')?.errors?.['required']">
              El Usuario es obligatorio.
            </mat-error>
          </mat-form-field>
          <br />
        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/tarjeta">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
