<mat-dialog-content>
    <div style="text-align: center">
      <h2>Registro de Detalles</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>idDetalle</mat-label>
          <input matInput placeholder="Id" formControlName="idDetalle" readonly/>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>subtotalDetalle</mat-label>
          <input matInput placeholder="0.00" formControlName="subtotalDetalle" />
          <mat-error
            *ngIf="obtenerControlCampo('subtotalDetalle')?.errors?.['required']"
          >
            El subtotal es obligatorio.
          </mat-error>
        </mat-form-field>

        <br />

        <mat-form-field class="example-full-width">
          <mat-label>Documento Pago</mat-label>
          <mat-select formControlName="documentoPago">
            <mat-option *ngFor="let p of listaDocumentoPagos" [value]="p.idDocumentoPago">
              {{ p.idDocumentoPago }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="obtenerControlCampo('documentoPago')?.errors?.['required']"
          >
            El documento de pago es obligatorio.
          </mat-error>

        </mat-form-field>

        <br />

        <mat-form-field class="example-full-width">
          <mat-label>Servicio</mat-label>
          <mat-select formControlName="servicio">
            <mat-option *ngFor="let p of listaServicios" [value]="p.idServicio">
              {{ p.descripcionServicio }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="obtenerControlCampo('servicio')?.errors?.['required']"
          >
            El servicio es obligatorio.
          </mat-error>

        </mat-form-field>

        <br />
        <button mat-raised-button class="aceptarbtn" >Aceptar</button>
        <br>
        
        <a mat-raised-text class="cancelarbtn" routerLink="/Usuario">
          Cancelar
        </a>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </mat-dialog-content>