<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <section *ngFor="let usuario of usuarios" class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
          <button  class="boton-portada" (click)="editar(usuario.idUsuario,true)" > <i class="fa-solid fa-pen-to-square"></i></button>
            <div class="perfil-usuario-avatar">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="img-avatar">
            </div>
        </div>
    </div>
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h3 class="titulo">{{ usuario.nombres }}  {{ usuario.apellidos }}</h3>
        </div>
        <div class="perfil-usuario-footer">
          <!--fontawesome icons-->
            <ul class="lista-datos">
                <li><i class="icono fas fa-user-cog"></i>  {{ usuario.rol.rol }}</li>
                <li><i class="icono fas fa-solid fa-envelope"></i> {{ usuario.correo }}</li>
                <li><i class="icono fas fa-circle-notch"></i> {{ usuario.edad }}</li>
            </ul>
            <ul class="lista-datos">
                <li><i class="icono fas fa-solid fa-user"></i> {{ usuario.nombreUsuario }}</li>
                <li><i class="icono fas fa-phone-alt"></i> {{ usuario.telefono }}</li>
                <li><i class="icono fas fa-venus-mars"></i> {{ usuario.genero }}</li>
            </ul>
        </div>
    </div>
</section>
  
</body>
</html>